.botones{
    font: fantasy;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: fantasy;
    text-decoration: none;

    
}   
.botones > a{
    margin: 5px;
    border: 1px solid black;
    color: white;
    border-radius: 10px;
    background-color: rgb(124, 197, 118);;
    padding: 20px;
    font-family: fantasy;
    text-decoration: none;
}
