
/* Estilo para los botones que se encuentran e cada pagina
estos se adaptaran y posicionaran en base al tamaño de la pagina.*/
.botones{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}   
/* Estos estaran rodeados por un borde negro de letra blanca y fondo verde para 
para que cuadre con el pie de pagina y los colores usados durante toda la pagina web*/
.botones > a{
    margin: 5px;
    border: 1px solid black;
    color: rgb(235, 235, 235);
    border-radius: 10px;
    background-color: rgb(124, 197, 118);;
    padding: 20px;
    font-family: fantasy;
    text-decoration: none;
}
/* El hover cambiara el color de la letra al pasar el cursor por encima */
.botones > a:hover{
    margin: 5px;
    border: 1px solid black;
    color: #cccccc;
    border-radius: 10px;
    background-color: rgb(124, 197, 118);;
    padding: 20px;
    font-family: fantasy;
    text-decoration: none;
}
