/* Este css es solo para el encabezado*/

/* Definimos el header la letra y margen que va a tener*/
header{
    font-family: fantasy;
    margin: 0;
    margin-top: 110px ;
}

/* Definimos en este bloque de div el color, padding, la anchura, que se mantenga en un posicion fija y el displzay que se mantendra felxible
   y se adaptara dependiendo del tamaño.*/
#encabezado {
    background-color: #32da1c;
    padding: 10px;
    position: fixed;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    top: 0;
}

li{
    margin-right: 200px;
}

/* Definimos el tamaño y posición del logo*/
#imagenLogo{
    width: 50px;
    height: auto;
    margin-right: 10px;
}