
*{
  box-sizing: border-box;
  margin: 0 ;
}
body{
  width: 100%;
}
footer{
  width: 100%;
}
#antesImagen{
  float: right;
  width:300px;
  padding: 5px;
  margin: 20px;
}
#imagenPromocion{
width: 100%;

}

#textoInforamtivo {

line-height: 150%;
text-align: justify;
width: 80%;
margin-left:auto ;
margin-right:auto ;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

 #textoInforamtivo a {
color: orange;
align-items: center;
 } 


  #TextoPubli{
    
margin-left: 10%;
margin-right: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-align: center; 
   text-transform: capitalize;
  font-size: 33px;
  color: black;
  text-decoration: underline;
  
  }
  
  main{
    background: linear-gradient( white );
    

  }
  
*/

div.pieDePagina{
  border: 1px solid black;
  background-color: rgb(124, 197, 118);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;

  flex-flow: wrap;
  display: flex;
  justify-content: space-between;
}
.derecha{
  padding: 5px;
  text-align: right;
  margin: 5px;
  
  width: 150px;
  
}
.medio{
  margin: 5px;
  position: relative;
  width: 40px;
  height: auto;
  
}
.izquierda{
  margin: 5px;
  width: 150px;
}
.insta {
  position: absolute;
  margin: auto auto;
  width: 100%;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 40px;

}

.derecha > p{
  text-align: right;
}

/* para moviles */
@media only screen and (max-width: 500px) {

   #antesImagen {
    order: 2; 
    float: none;
    width: 100%;
    max-width: none;
    margin: 20px 0;
    padding: 5px;
  }

  #textoInforamtivo {
    order: 1; 
    width: 80%;
    margin: 10px auto; 
    text-align: justify;
    line-height: 150%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
}
  


/* para tablets */
@media only screen and (min-width: 501) and (max-width: 900px) {
}

