
div.pieDePagina{
    border: 1px solid black;
    background-color: rgb(124, 197, 118);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;

    flex-flow: wrap;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;



}
.derecha{
    padding: 5px;
    text-align: right;
    margin: 5px;
    
    width: 150px;
    border: 1px solid red;

    
}
.medio{
    margin: 5px;
    position: relative;
    width: 40px;
    height: auto;
    border: 1px solid red;

    
}
.izquierda{
    margin: 5px;
    width: 150px;
    border: 1px solid red;

    
}
.insta {
    position: absolute;
    margin: auto auto;
    width: 100%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    border: 1px solid red;

}
p{
    text-align: justify;
}
.derecha > p{
    text-align: right;
}