/* Rodeamos el pie de pagina conun  borde negro fondo berde 
el color de la letra sera vlanco y el pie de pagina debe adaptarse al tamaño de la pagina */
div.pieDePagina{
    border: 1px solid black;
    background-color: rgb(124, 197, 118);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;

    flex-flow: wrap;
    display: flex;
    justify-content: space-between;


/* Posicion para el bloque de la parte derecha del pie de pagina*/
}
.derecha{
    padding: 5px;
    text-align: right;
    margin: 5px;
    
    width: 150px;

    
}
/* Estilo para el posicionamiento del bloque medio, del pie de pagina*/ 
.medio{
    margin: 5px;
    position: relative;
    width: 40px;
    height: auto;

    
}
/* Estilo para el posicionamiento del bloque izquierdo del pie de pagina*/
.izquierda{
    margin: 5px;
    width: 150px;

    
}
/* Estilo para el logo de la red social instagram*/
.insta {
    position: absolute;
    margin: auto auto;
    width: 100%;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;

}
/* Justificamos el texto del pie de pagina*/
p{
    text-align: justify;
}
/* Posicionamos pegado a la derecha el texto del bloque */
.derecha > p{
    text-align: right;
}