body{
    margin: 0;
}
div.formulario{
    margin: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
select{
    border-radius: 15px;
    padding: 5px;
    font-family: Trebuchet;

}
input{
    border-radius: 17px;
    padding: 7px;
}